<div class="menu">
    <% for (i in menu) { %>
    <div>
    <span><%=menu[i].label%></span>
        <br/>
    <ul class="submenu">
        <%
            var items = mtd.myMenuItems(menu[i].name);
            for (k in items) {
        %>
        <li><a href="/service/<%=items[k].name%>"><%=items[k].label %></a></li>
        <% } %>
    </ul>
    </div>
    <% } %>
    <div>
        <span>Reports</span>
        <br/>
        <ul class="submenu">
            <% if (locals.mtdEnv === 'test') { %>
                <li><a href="/report/testUsers">Test Users</a></li>
            <% } %>
            <li><a href="/report/vatSubmissions">VAT submissions</a></li>
        </ul>
    </div>
    <div>
        <span>Settings</span>
        <br/>
        <ul class="submenu">
            <% if (!locals.user) { %>
                <li><a href="/admin/login">Login</a></li>
            <% } %>
            <% if (locals.user) { %>
                <li><a href="/admin/appConfig">Application</a></li>
                <li><a href="/admin/oauthConfig">Open Authentication (oauth2)</a></li>
                <li><a href="/admin/updatePassword">Update Password</a></li>
                <li><a href="/admin/logout">Logout</a></li>
            <% } %>
            <% if (locals.req && locals.req.session.oauth2Token) { %>
                <li><a href="/admin/resetToken">Logout (of HMRC)</a></li>
            <% } %>
        </ul>
    </div>
</div>
<span>
    <% if (locals.user) { %>
        [<%= locals.user %>]
    <% } else { %>
        <i>not logged in</i>
    <% } %>
</span>
