<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="stylesheet" href="/css/mtd.css">
    <link rel="stylesheet" href="/css/jquery.tablesorter.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.tablesorter.min.js"></script>
    <script src="/js/mtd.js"></script>
    <script src="/js/mtd-ui.js"></script>
    <title>[<%= locals.mtdEnv %>] HMRC MTD Services</title>
</head>
<body>
<%- include _menu.ejs %>

<%- include _error.ejs %>

<%- include _callRes.ejs %>

</body>
</html>
