.menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    z-index: 5;
    cursor: default;
}
.menu span {
    margin: 1px;
    padding: 2px;
    font-weight: bolder;
    border: 1px #0b97c4 solid;
    box-shadow: -2px -8px 16px 0px rgba(0,0,0,0.2);
}
.submenu {
    display: none;
    list-style-type: none;
    margin: 1px;
    padding: 0;
    z-index: 1;
    height: auto;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menu div:hover .submenu {
    border: 1px #0b97c4 solid;
    display: block;
}
.submenu a {
    text-decoration: none;
    font-weight: normal;
    padding: 2px;
    margin: 2px;
    z-index: 5;
}
.submenu a:hover {
    color: #770000;
    border: 1px #770000 solid;
}
.callResponse span, .callRequest span {
    border: 1px #dddddd solid;
    cursor: default;
}
.callResponseBody, .callRequestBody {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    background-color: #dddddd;
    border: 1px #0b97c4 dotted;
    display: none;
}
.callResponse div:hover .callResponseBody, .callRequest div:hover .callRequestBody {
    display: block;
    border: 1px #0b97c4 inset;
}
.config {
    display: flex;
    flex-direction: column;
}
.config b, select, [type="submit"] {
    padding: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    align-self: flex-start;
}
.topUl {
    display: flex;
    flex-direction: column;
}
.topLi {
    border: 1px #0b97c4 dotted;
    list-style: none;
    margin: 2px;
    padding: 2px;
    align-self: flex-start;
}
body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
.entityTable th {
    border: 1px mediumaquamarine solid;
    background-color: aquamarine;
    text-align: center;
    margin: 1px;
    padding: 2px;
}
.entityTable td {
    margin: 1px;
    border-right: 1px #dddddd dotted;
    border-bottom: 1px #dddddd dotted;
}
.entity li {
    list-style: none;
}
.dev {
    text-decoration-style: double;
    color: white;
    background-color: red;
}
.test {
    text-decoration-style: dotted;
    color: gold;
    background-color: black;
}
.error {
    font-weight: bolder;
    font-size: smaller;
    color: #770000;
}
.error .entity li {
    list-style: decimal;
}
#qrUrl {
    font-size: small;
    color: #770000;
}
.intro {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: solid #0b97c4 1px;
    position: absolute;
    margin: auto;
    top: 50px;
    right: 0;
    bottom: 10px;
    left: 0;
    border-radius: 3px;
}